<div class="switcher">
  <ul>
    <li (click)="navigateToMyLife()">My Life</li>
    <li (click)="navigateToBlog()">Blog</li>
<!--    <li (click)="navigateToComponentOne()">Option 3</li>-->
  </ul>
<!--  <div class="content">-->
<!--    <ng-container *ngIf="selectedComponent === 'my-life'">-->
<!--      <app-my-life></app-my-life>-->
<!--    </ng-container>-->
<!--    <ng-container *ngIf="selectedComponent === 'ComponentTwo'">-->
<!--      <p>Component two</p>-->
<!--    </ng-container>-->
<!--    <ng-container *ngIf="selectedComponent === 'ComponentThree'">-->
<!--      <p>Component three</p>-->
<!--    </ng-container>-->
<!--  </div>-->
</div>
